* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Lato;
  height: 100vh;
  width: 100%;
  position: relative;
}

.card {
  width: 90%;
  max-width: 420px;
  background-color: #f2f2f2;
  border: 2px solid rgba(255, 0, 0, 0.321);
  padding: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-bottom: Calc(24px + 35.2px);
}

h2 {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p {
  line-height: 1.35;
  margin-bottom: 1rem;
}

.action-buttons-box {
  position: absolute;
  right: 1rem;
  display: inline-block;
}

button {
  padding: 8px 16px;
}

button:first-child {
  background-color: red;
  color: white;
}
