.teaser-card {
  background-color: white;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07);
}

.teaser-card ._thumb-nail {
  aspect-ratio: 0.9; /* 9:10 */
  background-image: url("../images/recent_01.jpeg");
  background-position: center center;
  background-size: cover;
}

.teaser-card ._teser-content {
  padding: 5rem 3rem;
}

.teaser-card ._teser-content ._title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.teaser-card ._teser-content ._description {
  margin-bottom: 3.2rem;
}

.teaser-card ._teser-content ._cta-liks {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.teaser-card ._teser-content ._cta-liks a.primary-cta span {
  border-bottom: 1px solid black;
  /* text-decoration: underline !important; */
}

.teaser-card ._teser-content ._cta-liks a.primary-cta:hover span {
  border-color: #3f69ff;
  /* text-decoration: underline !important; */
}

._timestamp {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  color: #8c8c95;
}

.teaser-card ._thumb-nail.aspect-8-5 {
  aspect-ratio: 1.6; /* 8:5 */
}
