#footer-sub-sction-1 {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 6.5fr 5.5fr;
}

#footer-sub-sction-1 .footer-branding {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 3rem;
  align-items: center;
}

#footer-sub-sction-1 .footer-branding .brand-logo img {
  width: 48px;
  height: 48px;
}

#footer-sub-sction-1 .footer-branding .brand-title {
  font-size: 3.8rem;
}

#footer-sub-sction-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #c2c2c2;
  font-size: 1.8rem;
}

#footer-sub-sction-3 a {
  font-weight: bold;
  text-decoration: underline;
}
