footer section.container:not(:first-child) {
  border-top: 1px solid #c2c2c2;
}

#footer-sub-sction-1 {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 6.5fr 5.5fr;
  margin-bottom: 8rem;
}

#footer-sub-sction-1 .footer-branding {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 3rem;
  align-items: center;
}

#footer-sub-sction-1 .footer-branding .brand-logo img {
  width: 48px;
  height: 48px;
}

#footer-sub-sction-1 .footer-branding .brand-title {
  font-size: 3.8rem;
}

#footer-sub-sction-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.8rem;
  margin-top: 3rem;
}

#footer-sub-sction-3 a {
  font-weight: bold;
  text-decoration: underline;
}

#footer-sub-sction-2.container {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 6rem;
}

.sub-section-header {
  margin-bottom: 4rem;
}

#footer-sub-sction-2 div#footer-about .footer-links-list {
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.footer-links-list ul,
.footer-content-list ul {
  list-style: none;
  margin-bottom: 2.4rem;
}

.footer-links-list ul li {
  margin-bottom: 2.4rem;
}

.footer-links-list ul li a {
  color: #8c8c95 !important;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.footer-content-list ul li {
  padding: 2.4rem 0rem;
}

.footer-content-list ul li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

span.brand-icon {
  width: 2.2rem;
  height: 2.2rem;
  background-color: aqua;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 60%;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 0.8rem;
}

span.brand-icon.youtube {
  background-color: #c4302b;
}

span.brand-icon.facebook {
  background-color: #3e5b98;
}

span.brand-icon.twitter {
  background-color: #dd4b39;
}

span.brand-icon.google-plus {
  background-color: #4da7de;
}

span.brand-icon.pinterest {
  background-color: #c92619;
}

span.brand-icon.email {
  background-color: #134785;
}
