#hero-section.container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}

h1.hero-title {
  font-size: 7rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-description {
  color: rgb(140, 140, 149);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3.6rem;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grey-bg {
  padding: 3.6rem 0rem;
  background-color: #eff0f6;
  max-width: 476px;
  /* margin: 0 0px 0px auto; */
}

.grey-bg img {
  /* transition: all 1s cubic-bezier(1, -0.27, 0, 1.17); */
  transform: translateX(-3.6rem);
  width: 476px;
  max-width: 90%;
}

.hero-cta-buttons {
  margin-left: -1rem;
}

/* Small screen */
@media screen and (max-width: 759.98px) {
  #hero-section.container {
    grid-template-columns: 1fr !important;
  }

  h1.hero-title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
