#recent-videos ._teasers {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}

._teasers .teaser-card {
  background-color: white;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07);
}

#recent-videos ._teasers ._thumb-nail {
  aspect-ratio: 0.9;
  background-image: url("../images/recent_01.jpeg");
  background-position: center center;
  background-size: cover;
}

#recent-videos ._teasers .teaser-card:nth-child(2) ._thumb-nail {
  background-image: url("../images/recent_02.jpeg");
}

#recent-videos ._teasers .teaser-card:nth-child(3) ._thumb-nail {
  background-image: url("../images/recent_03.jpeg");
}

._teser-content {
  padding: 5rem 3rem;
}

._teser-content ._title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

._teser-content ._description {
  margin-bottom: 3.2rem;
}

._teser-content ._cta-liks {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

._teser-content ._cta-liks a.primary-cta span {
  border-bottom: 1px solid black;
  /* text-decoration: underline !important; */
}

._teser-content ._cta-liks a.primary-cta:hover span {
  border-color: #3f69ff;
  /* text-decoration: underline !important; */
}
