.light-bg {
  background-color: #eff0f6;
}

.btn {
  display: inline-flex;
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  height: 7rem;
  text-decoration: none;
  background: transparent;
  border: 1px solid #e2e3e9;
  color: #14142b;
  margin: 0rem 1rem;
  line-height: 0.5;
  align-items: center;
  justify-content: center;
  /* transition: all 0.3s ease-in-out; */
}

.btn.btn-md {
  padding: 1.6rem 2.5rem;
  height: 5.4rem;
}

.btn.btn-lg {
  padding: 2rem 4rem;
  height: 7rem;
}

.btn:hover {
  background: #e2e3e9;
  color: #14142b;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn-primary {
  background: #fedb01;
  border-color: #fedb01;
}

.btn-primary:hover {
  background-color: #14142b;
  border-color: #14142b;
  color: #ffffff;
}

p {
  font-size: 1.8rem;
  color: #8c8c95;
  line-height: 1.5;
}

ul {
  color: #14142b;
  font-size: 1.8rem;
}
