@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 10px;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #14142b;
  line-height: 1.25;
}

h2 {
  font-size: 3.8rem;
  font-weight: 700;
}

/* header,
footer,
section {
  padding: 2rem;
} */

.container {
  display: block;
  padding: 0rem 1.5rem;
  max-width: 1220px;
  margin: 0rem auto;
}

section.major {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.d-grid {
  display: grid !important;
  gap: 2rem;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

img {
  display: block;
  width: 100%;
}

/* Avoiding common <a> styles to <a> elements which are having .btn class */
a:not(.btn) {
  color: rgb(35, 35, 35);
  text-decoration: none;
}

a:not(.btn):hover {
  color: #3f69ff !important;
}

.text-center {
  text-align: center;
}
