@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 10px;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* header,
footer,
section {
  padding: 2rem;
} */

.container {
  display: block;
  padding: 0rem 1.5rem;
  max-width: 1220px;
  margin: 0rem auto;
}

.d-grid {
  display: grid;
  gap: 2rem;
}

img {
  display: block;
  width: 100%;
}
